;; shadow-cljs configuration
{:source-paths
 ["src/main"
  "src/stories"]

 :dependencies
 [[reagent "1.1.0"]
  [re-frame "1.2.0"]
  [arttuka/reagent-material-ui "5.0.0-0"]]

 :dev-http {8080 "public"}
 :builds   {:app {:target           :browser
                  :output-dir       "public/js"
                  :asset-path       "/js"
                  :modules          {:main {:init-fn app.core/init}}
                  :devtools         {:after-load app.core/start}}

            :app-with-amplify {:target     :browser
                               :output-dir "public/js"
                               :asset-path "/js"
                               :js-options {:js-provider    :external
                                            :external-index "target/index.js"}
                               :modules    {:main {:init-fn app.amplified.core/init}}
                               :devtools   {:after-load app.amplified.core/start}}
            :stories {:target           :esm
                      :output-dir       "public/js/stories"
                      :ns-regexp "-stories$"
                      :modules          {:app.stories.avatar_stories {:exports {default app.stories.avatar-stories/default}}}}}}
